# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
build/
dist/

# Variables
.env
*.env
*.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Misc
.DS_Store
.vscode/

# Firebase
.firebase/
firebase-debug.log
functions/